{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid py-5 px-5">
  <div class="row px-5">
    <div class="col-lg-6">
      <img style="width: 100%; object-fit: cover;"
        src="https://www.marvin.com/_next/image?url=https%3A%2F%2Fa-us.storyblok.com%2Ff%2F1019562%2F1920x1281%2F20f649969a%2Fmarvin-ultimate-single-hung-insert-g2-window-15-stpaul.png%2Fm%2Ffilters%3Aquality(100)%3Afill(transparent)&w=3840&q=75"
        alt="">

    </div>
    <div class="col-lg-6">
      <h2 class="text-uppercase mt-4 mt-lg-0 mb-4">О нас</h2>
      <p class="lead">
        Добро пожаловать в наш магазин! Мы страстно стремимся предоставлять качественные товары и отличный сервис нашим
        клиентам.
      </p>
      <p>
        Наша миссия — предложить исключительный опыт покупок и гарантировать удовлетворение каждого клиента после каждой
        покупки.
      </p>

      <div class="row mt-5">
        <div class="col-md-6">
          <h4>Наше видение</h4>
          <p>Стать местом выбора для качественных и доступных покупок онлайн.</p>
        </div>
        <div class="col-md-6">
          <h4>Наша команда</h4>
          <p>Мы — команда увлечённых людей, которые верят в то, что делают. Мы усердно работаем, чтобы предоставить вам
            лучший сервис и поддержку.</p>
        </div>
      </div>
    </div>
  </div>

</div>
{% endblock %}