{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid py-5 px-5">
  <div class="row px-5">
    <div class="col-lg-6">
      <img style="width: 100%; object-fit: cover;"
        src="https://www.marvin.com/_next/image?url=https%3A%2F%2Fa-us.storyblok.com%2Ff%2F1019562%2F1920x1281%2F20f649969a%2Fmarvin-ultimate-single-hung-insert-g2-window-15-stpaul.png%2Fm%2Ffilters%3Aquality(100)%3Afill(transparent)&w=3840&q=75"
        alt="">

    </div>
    <div class="col-lg-6">
      <h2 class="text-uppercase mt-4 mt-lg-0 mb-4">О нас</h2>
      <p class="lead" style="font-size: 15px;">
        "WINSTOP" — ведущая компания, основанная командой экспертов, которая после долгих исследований и разработок поставила перед собой цель проектировать и производить практичные, экономичные и прочные системы безопасности, которые можно легко использовать в каждом доме, на каждом окне и которые люди могут самостоятельно устанавливать.
Первый и основной продукт компании, "WINBLOCK®️ KIDS Система безопасности окон и балконов для детей", разработан для обеспечения безопасности наших самых ценных достояний — наших детей. Цель состоит в том, чтобы дети были в безопасности, а родители — спокойны, пока окна в домах свободно открываются для проветривания. Второй продукт компании, "WINBLOCK®️ PETS Система безопасности окон и балконов для домашних животных", специально разработан для обеспечения безопасности наших домашних питомцев на окнах и балконах и получил большое одобрение любителей животных. Наши продукты не имеют аналогов  в мире по своему дизайну, практичности и способу монтажа, а благодаря своим инновациям защищены патентными заявками и регистрацией промышленного образца.
В нашей компании проводятся научно-исследовательские работы по продуктам, полностью разработанным нами, а также осуществляется производство и маркетинг разработанных продуктов. На внутреннем рынке компания в короткие сроки добилась большого успеха, создав дилерскую сеть где можно приобрести продукцию WINBLOCK®️ и услуги по монтажу. В то же время, за рубежом дистрибьюторские соглашения WINBLOCK®️ были заключены со многими странами, и продукция WINBLOCK®️ стала доступна пользователям за рубежом через дилерские центры, предоставляющие услуги по продаже и монтажу.
Продукция разрабатывается без ущерба для качества и прочности, а испытания продукции проводятся под контролем экспертов в лабораториях лучших университетов Турции.
Мы рады сообщить, что наша компания стала официальным представителем WINBLOCK в России.
      </p>

     
    </div>
  </div>

</div>
{% endblock %}