{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid py-5 px-5">
    <div class="row px-5">
        <div class="col-lg-6">
    <img style="width: 100%; object-fit: cover;" src="https://www.marvin.com/_next/image?url=https%3A%2F%2Fa-us.storyblok.com%2Ff%2F1019562%2F1920x1281%2F20f649969a%2Fmarvin-ultimate-single-hung-insert-g2-window-15-stpaul.png%2Fm%2Ffilters%3Aquality(100)%3Afill(transparent)&w=3840&q=75" alt="">

        </div>
        <div class="col-lg-6">
              <h2 class="text-uppercase mt-4 mt-lg-0 mb-4">About Us</h2>
  <p class="lead">
    Welcome to our store! We are passionate about delivering quality products and outstanding service to our customers.
  </p>
  <p>
    Our mission is to offer an exceptional shopping experience and make sure our clients are satisfied with every purchase.
  </p>

  <div class="row mt-5">
    <div class="col-md-6">
      <h4>Our Vision</h4>
      <p>To be the go-to place for quality and affordable shopping online.</p>
    </div>
    <div class="col-md-6">
      <h4>Our Team</h4>
      <p>We are a team of passionate people who believe in what we do. We work hard to bring you the best service and support.</p>
    </div>
  </div>
        </div>
    </div>

</div>
{% endblock %}
